.contactPage
  max-width: 600px
  margin: 0 auto
  p
    margin-bottom: 40px

  @media (min-width: 800px)
    display: flex
    max-width: 100%
    :first-child
      flex: 1
    .contactForm
      width: 55%
      margin-left: 80px