.grid
  display: flex
  flex-direction: column-reverse
  @media (min-width: 660px)
    flex-direction: row
.content
  flex: 1

.profileImageWrapper
  display: block
  padding: 5px
  background: #fff
  box-shadow: 0 2px 2px rgba(0,0,0, 0.4)
  height: auto
  margin: 0 30px
  @media (min-width: 660px)
    margin-left: 96px
    margin-right: 0
    margin-bottom: 24px
    width: 100%
    max-width: 250px
    flex: 1
  @media (min-width: 1280px)
    margin-left: 154px
.profilePic
  filter: grayscale(1)
  