.bodyContent
  h1,
  h2,
  h3,
  h4
    font-weight: 500
    margin-bottom: 1em
  h4
    font-family: apparat
    font-size: 1em
    // only used on homepage currently
    margin-top: 2em
    margin-bottom: 0.5em
  p
    color: #333
    margin-bottom: 1em
    line-height: 1.3
  a:link,
  a:visited
    color: #999
